.country {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem;
  margin-right: 8rem;
}
.pic {
  width: 55vw;
  height: 46vh;
  position: relative;
}
.img {
  width: 55vw;
  height: 46vh;
  position: absolute;
  object-fit: contain;
}
