.country {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7rem;
  box-sizing: border-box;
  width: 100vw;
}
.pic {
  width: 55vw;
  height: 46vh;
  position: relative;
}
.img {
  width: 55vw;
  height: 46vh;
  position: absolute;
  object-fit: contain;
}
.information{
  padding-right: 3rem;
  
}
.borders {
  display: flex;
  gap: 1rem;
}
.bor{
  display: flex;
  flex-direction: row;
  width: 4rem;
  height: 2rem;
  align-content: center;
}
.bor span{
  text-overflow: ellipsis;
  align-items: center;
  justify-self: center;
  overflow: hidden;
    white-space: nowrap;
}