@import "../css/variable.css";

.head{
  display: flex;
  width: 100vw;
  height: 10vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0rem 0.2rem 0.2rem 1px rgb(169, 167, 167);
}
.bar{
  display: flex;
  width: 100vw;
  height: 10vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  color: var(--input);
  padding: 2rem;
}
.search{
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  height: 3rem;
  border: none ;
  color: var(--input);
  background-color: var(--elements);
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.box{
  color: var(--input);
}
.theme{
  color: var(--font-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  margin-right: 2rem;
}
.search::placeholder{
  color: var(--input);
  background-color: var(--Background);
}
::-webkit-input-placeholder { 
  background: var(--elements);
}
.region{
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
  height: 3rem;
  border: none ;
  box-sizing: unset;
  background-color: var(--elements);
  color: var(--input);
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  overflow: hidden;
}

.selregion{
  display: flex;
  border: none;
  width: 9rem;
  height: 3rem;
  padding-left: 0.7rem;
  gap: 1rem;
  background-color: var(--elements);
  color: var(--font-color);
}
.option{
  line-height: 3rem;
}