/*const dates = async function () {
  const consult = await fetch(
    `https://restcountries.com/v3.1/region/${region}`
  );
  const respont = await consult.json();
  setPaises(
    respont.map(function (countrySel) {
      return countrySel.name.common;
    })
  );
};
  const globalDate = () => fetch(`https://restcountries.com/v3.1/all`).then(res => res.json()).then(res => setTest(
    res.map(function (countrySel) {
      return countrySel.name.common;
    })
  )).catch(error => {console.log(error)})
    const dates = () => fetch(`https://restcountries.com/v3.1/region/${region}`).then(res => res.json()).then(res => setPaises(
    res.map(function (countrySel) {
      return countrySel.name.common;
    })
  )).catch(error => {console.log(error)})*/
.light-mode {
  --Background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --font-color: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}
.dark-mode {
  --Background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --font-color: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
}
